<section id="products">
  <!-- begin catalog/_partials/products.tpl -->
  <div id="js-product-list">
    <div class="products row">
      <div class="js-product product col-xs-12 col-sm-6 col-xl-4">
        <article
          class="product-miniature js-product-miniature"
          data-id-product="10"
          data-id-product-attribute="24"
        >
          <div class="thumbnail-container reviews-loaded">
            <div class="thumbnail-top">
              <a href="#" class="thumbnail product-thumbnail">
                <img
                  src=""
                  alt=""
                  loading="lazy"
                  data-full-size-image-url="http://pstut.dvl.to/11-large_default/brown-bear-cushion.jpg"
                  width="250"
                  height="250"
                />
              </a>

              <div class="highlighted-informations">
                <a
                  class="quick-view js-quick-view"
                  href="#"
                  data-link-action="quickview"
                >
                  <i class="material-icons search"></i> Quick view
                </a>
              </div>
            </div>

            <div class="product-description">
              <h2 class="h3 product-title">
                <a href="#" content="#">Brown bear cushion</a>
              </h2>

              <div class="product-price-and-shipping">
                <span class="price" aria-label="Price"> MAD22.68 </span>
              </div>
            </div>

            <ul class="product-flags js-product-flags">
              <li class="product-flag new">New</li>
            </ul>

            <button class="wishlist-button-add">
              <i class="material-icons">favorite_border</i>
            </button>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
